

@font-face {
    font-family: 'persian-font';
    /* This is the name you will use to reference the custom font */
    src: url("/mod_font.ttf") format('truetype');
    /* Specify the path to your font file */
}

body {
    font-family: 'persian-font';
    /* Change 'Arial' to the desired font family */
}
